@charset "UTF-8";

@media (max-width: 600px) {
    header {
        flex-direction: column;
        height: 150px;
    }

    header h1 {
        margin-top: -25px;
    }

    .periodo {
        position: relative;
        right: 0;
    }

    .periodo button {
        position: absolute;
        right: 12px;
        top: 40px;
    }

    #mes, #pagamento {
        width: 48%;
    }

    .limparhist {
        top: 105px;
        left: 15px;
        width: 140px;
        font-size: .8em;
    }

    .ped {
        margin-top: 45px;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {

    header {
        height: 100px;
    }

    .periodo {
        position: absolute;
        top: 55px;
        right: 5px;
    }

    .limparhist {
        top: 55px;
        left: 5px;
        width: 130px;
        font-size: .7em;
    }
}