@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url('../imagens/imagens_pincipal/comida-criolla-peru-peruvian-food-260nw-2191344515.webp');
    background-attachment: fixed;
    background-size: cover;
}

.open {
    background-color: rgb(29, 236, 29);
}

.closed {
    background-color: red;
}

.open, .closed {
    color: white;
    padding: 10px 25px;
    font-weight: bold;
    box-shadow: 3px 3px 10px black;
    border-radius: 5px;
}

.openOrClosedDiv {
    position: fixed; 
    right:15px; 
    top:20px; 
    z-index: 9999;
}

header {
    position: fixed;
    width: 100%;
    z-index: 9998;
    background-color: rgb(29, 48, 48);
    color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 2px 8px 10px black;
}

header h1 {
    text-shadow: 2px 2px 8px black;
}

main {
    background-color: white;
    margin: auto;
    max-width: 1000px;
    box-shadow: 3px 3px 10px black;
}

.home {
    display: flex;
    position: fixed; 
    z-index: 9999; 
    left: 15px; 
    top: 5px; 
    transition: .3s;
}

.home a {
    background-color: #5A3F2F; 
    box-shadow: 2px 2px 10px black;
    padding: 5px 25px;
    border-radius: 5px;
}

.home:hover {
    box-shadow: 8px 8px 10px black;
    transform: scale(1.05);
}

.agarra {
    margin: auto;
    background-color: #5a3f2f86;
    height: 200px;
    max-width: 1000px;
    box-shadow: 3px 8px 10px black;
}

.infoPrincipal {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform: translate(0, -80px);
}

.logoRestaurante {
    border-radius: 50%; 
    height: 150px; 
    width: 150px; 
    border: 1px solid white;
    box-shadow: 2px 2px 8px black;
}

.tempoDeEntrega, .hora, .horarioDeFuncionamento{
    margin-top: 15px;
}

.hr, .nomeDoCliente {
    margin-top: 10px;
}

.hr {
    width: 300px;
}

.logBtn {
    display: block;
    background-color: #5A3F2F;
    color: white;
    text-decoration: none;
    width: 130px;
    padding: 10px 15px;
    margin-top: 15px;
    box-shadow: 3px 3px 10px black;
    border-radius: 5px;
    font-weight: bold;
    transition: .3s;
}

.logBtn:hover {
    background-color: #8d634a;
}

.logout {
    display: flex;
    position: absolute;
    right:180px;
    top:10px;
    transition: .3s;
}

.logout a {
    box-shadow: 3px 3px 8px black;
    background-color: red;
    color: white; 
    padding: 10px 25px;
    font-weight: bold; 
    text-decoration: none;
    border-radius: 5px;
}

.logout:hover {
    box-shadow: 10px 10px 10px black;
    transform: scale(1.05);
}

.pratosTitle {
    margin-top: -60px;
    margin-bottom: 15px;
    color: darkslategray; 
    margin-left: 15px;
}

.linkPratos {
    background-color: rgb(252, 252, 252);
    border: 1px solid silver;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    width: 48%;
    height: 30%;
    display: flex;
    padding: 15px;
    margin-bottom: 15px;
    transition: .3s;
}

.linkPratos:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.397);
    transform: scale(1.02);
}

.pratos {
    display: flex;
    align-items: center;
    width: 100%;
}

.linkPratos{
    color: black;
    text-decoration: none;
}

.infoGeral {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.pratosContainer {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.info {
    margin-left: 25px;
}

.preco {
    display: block; 
    font-weight: bold; 
    color: #27A143; 
    font-size: 1.3em;
}

.preco p {
    float: right;
}

.descricaoDoPrato {
    width: 90%;
    word-break: break-all;
    text-align: justify;
}

.titleBebidas {
    margin-bottom: 15px; 
    color: darkslategray; 
    margin-left: 15px;
}

.wpp {
    display: flex;
    position: fixed;
    z-index: 9999;
    right: 50px; 
    bottom: 170px;
    border-radius: 50%;
    transition: .3s;
}

.wpp a img{
    height: 80px;
    width: 80px;
    background-color: #2AB318;
    box-shadow: 2px 2px 10px black;
    border-radius: 50%;
}

.wpp:hover {
    box-shadow: 8px 8px 10px black;
    transform: scale(1.05);
}

.shopCart {
    display: flex;
    position: fixed;
    z-index: 9999;
    right: 50px; 
    bottom: 50px;
    border-radius: 50%;
    transition: .3s;
}

.shopCart a {
    background-color: #5A3F;
    box-shadow: 2px 2px 10px black;
    border-radius: 50%;
    padding: 25px;
}

.shopCart:hover {
    box-shadow: 8px 8px 10px black;
    transform: scale(1.05);
}