@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url('../imagens/imagens_pincipal/comida-criolla-peru-peruvian-food-260nw-2191344515.webp');
    background-attachment: fixed;
    background-size: cover;
}

.open {
    background-color: rgb(29, 236, 29);
}

.closed {
    background-color: red;
}

.open, .closed {
    color: white;
    padding: 10px 25px;
    font-weight: bold;
    box-shadow: 3px 3px 10px black;
    border-radius: 5px;
}

header {
    position: fixed;
    width: 100%;
    z-index: 9998;
    background-color: rgb(29, 48, 48);
    color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 2px 8px 10px black;
}

header h1 {
    text-shadow: 2px 2px 8px black;
}

main {
    background-color: white;
    margin: auto;
    max-width: 1000px;
    box-shadow: 3px 3px 10px black;
    padding: 15px;
}

.home {
    display: flex;
    position: fixed; 
    z-index: 9999; 
    left: 15px; 
    top: 5px; 
    transition: .3s;
}

.home a {
    background-color: #5A3F2F; 
    box-shadow: 2px 2px 10px black;
    padding: 5px 25px;
    border-radius: 5px;
}

.home:hover {
    box-shadow: 8px 8px 10px black;
    transform: scale(1.05);
}

.shopCart {
    display: flex;
    position: fixed;
    z-index: 9999;
    right: 50px; 
    bottom: 50px;
    border-radius: 50%;
    transition: .3s;
}

.shopCart a {
    background-color: #5A3F;
    box-shadow: 2px 2px 10px black;
    border-radius: 50%;
    padding: 25px;
}

.shopCart:hover {
    box-shadow: 8px 8px 10px black;
    transform: scale(1.05);
}

.openOrClosedDiv {
    position: fixed; 
    right:15px; 
    top:20px; 
    z-index: 9999;
}

.pratosTitle {
    margin-top: 70px;
    text-align: center;
    margin-bottom: 15px;
}

#opcoes {
    width: 100%;
    padding: 15px;
    margin-bottom: 5px;
}

.location {
    width: 40px;
    height: 40px;
}

.enderecoCont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.end {
    display: flex;
    align-items: center;
}

.enderecoTitle {
    margin-top: 15px;
}

.pedidoTitle {
    margin-top: 15px;
}

.pedido {
    padding: 15px;
}

.trocar {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 15px;
    background-color: #5A3F2F;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.418);
    transition: .3s;
}

.trocar:hover {
    transform: scale(1.05);
    box-shadow: 8px 8px 10px rgb(0, 0, 0);
}

.trocar:active {
    transform: scale(.9);
    box-shadow: 1px 1px 8px rgb(0, 0, 0);
}

.button {
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    background-color: #27A143;
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.589);
    transition: .3s;
}
.button:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.589);
    transform: scale(1.01);
}

.button:active {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.589);
    transform: scale(.9);
}

.valorTotal {
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 50%;
}

.selectError {
    text-align: center;
    color: red;
    font-weight: bold;
    display: none;
}

.wpp {
    display: flex;
    position: fixed;
    z-index: 9999;
    right: 50px; 
    bottom: 170px;
    border-radius: 50%;
    transition: .3s;
}

.wpp a img{
    height: 80px;
    width: 80px;
    background-color: #2AB318;
    box-shadow: 2px 2px 10px black;
    border-radius: 50%;
}

.wpp:hover {
    box-shadow: 8px 8px 10px black;
    transform: scale(1.05);
}

.contTroco, .troco {
    display: none;
}

.troco {
    padding: 5px;
}