@charset "UTF-8";

@media screen and (max-width: 1015px) {
    main {
        margin-bottom: 50px;
    }

    .nomeLoja {
        font-size: 1em;
    }

    .home {
        top: 5px;
        left: 5px;
    }

    .home a {
        padding: 5px 15px;
    }

    .home a img {
        height: 15px;
        width: 15px;
    }

    .open, .closed {
        font-size: .6em;
        padding: 5px 10px;
    }

    .openOrClosedDiv {
        top: 9px;
        right: 5px;
    }

    .btns {
        position: fixed;
        bottom: 0;
        width: 100%;
        animation: tremeu 5s 1s infinite;
    }

    @keyframes tremeu {
        0% {
            transform: translateX(0px);
        }
        1% {
            transform: translateX(10px);
        }
        3% {
            transform: translateX(-10px);
        }
        5% {
            transform: translateX(10px);
        }
        7% {
            transform: translateX(0px);
        }
    }

    .wpp {
        background-color: #2AB318;
        left: 0;
        bottom: 0;
        height: 54px;
        width: 100%;
        border-radius: 0;
        display: flex;
        justify-content: center;
    }

    .wpp a {
        width: 100%;
        text-align: center;
    }

    .wpp a img{
        height: 52px;
        width: 52px;
        box-shadow: 0px 0px 0px;
    }

    .produtoInfo img {
        margin-top: -25px;
        height: 200px;
        width: 200px;
    }

    .text {
        font-size: 1em;
    }

    #obs {
        font-size: .8em;
        height: 70px;
    }

    #qtd {
        width: 30px;
        height: 30px;
    }

    .button, .formaTitle, .enderecoTitle, .entTitle, .pedidoTitle, .taxaTitle, .trocar {
        font-size: 1em;
    }

    .pratosTitle {
        font-size: 1.8em;
    }

    .endereco, .pedido, .valorTaxa {
        font-size: .8em;
    }

    .location {
        width: 30px;
        height: 30px;
    }

    .slider1 {
        width: 52px;
        height: 28px;
      }

      .slider1:before {
        height: 19px;
        width: 19px;
      }

      .darkMode {
        top: 5px;
        right: 40px;
    }

    .borda1, .borda2, .borda3 {
        display: none;
    }
}
