@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url('../imagens/imagens_pincipal/comida-criolla-peru-peruvian-food-260nw-2191344515.webp');
    background-attachment: fixed;
    background-size: cover;
}

.open {
    background-color: #55AA33;
}

.closed {
    background-color: red;
}

.open, .closed {
    color: white;
    padding: 10px 25px;
    font-weight: bold;
    box-shadow: 3px 3px 10px black;
    border-radius: 5px;
}

header {
    position: fixed;
    width: 100%;
    z-index: 9998;
    background-color: rgb(29, 48, 48);
    color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 2px 8px 10px black;
}

header h1 {
    text-shadow: 2px 2px 8px black;
}

main {
    background-color: white;
    margin: auto;
    max-width: 1000px;
    box-shadow: 3px 3px 10px black;
    padding: 15px;
}

.home {
    display: flex;
    position: fixed; 
    z-index: 9999; 
    left: 15px; 
    top: 5px; 
    transition: .3s;
}

.home a {
    background-color: #5A3F2F; 
    box-shadow: 2px 2px 10px black;
    padding: 5px 25px;
    border-radius: 5px;
}

.home:hover {
    box-shadow: 8px 8px 10px black;
    transform: scale(1.05);
}

.shopCart {
    display: flex;
    position: fixed;
    z-index: 9999;
    right: 50px; 
    bottom: 50px;
    border-radius: 50%;
    transition: .3s;
}

.shopCart a {
    background-color: #5A3F;
    box-shadow: 2px 2px 10px black;
    border-radius: 50%;
    padding: 25px;
}

.shopCart:hover {
    box-shadow: 8px 8px 10px black;
    transform: scale(1.05);
}

.openOrClosedDiv {
    position: fixed; 
    right:15px; 
    top:20px; 
    z-index: 9999;
}

.secPratos {
    width: 100%;
}

.pratosTitle {
    text-align: center;
    font-size: 2em;
    margin-bottom: 15px;
    margin-top: 70px;
}

.pratos {
    width: 100%;
    padding: 15px;
    background-color: #ebebeb;
    display: flex;
    margin-bottom: 15px;
    border: 1px solid silver;
    border-radius: 15px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.514);
}

.imgPrato {
    margin-right: 15px;
}

.imgPrato img {
    height: 80px;
    width: 80px;
}

.infoGeral {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.preco {
    color: #5A3F;
    font-weight: bold;
    font-size: 1.3em;
    display: flex;
    align-items: center;
}

.qtd {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.quantidade {
    background-color: lightgray;
    border-radius: 50%;
    margin: 0 5px;
    border: none;
    font-size: 1.3em;
    width: 30px; 
    height: 30px;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.soma button{
    color: white;
    background-color: #27A143;
    padding: 5px 5px;
    border: none;
    font-size: 1.3em;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
}

.subtrai button {
    color: white;
    background-color: red;
    padding: 5px 7px;
    border: none;
    font-size: 1.3em;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
}

.btnRemove {
    background-color: red;
    color: white;
    margin-left: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.281);
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
}

.button {
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    background-color: #27A143;
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.589);
    transition: .3s;

    animation: treme 5s 1s infinite;
}

@keyframes treme {
    0% {
        transform: translateX(0px);
    }
    1% {
        transform: translateX(10px);
    }
    3% {
        transform: translateX(-10px);
    }
    5% {
        transform: translateX(10px);
    }
    7% {
        transform: translateX(0px);
    }
}

.button:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.589);
    transform: scale(1.01);
}

.button:active {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.589);
    transform: scale(.9);
}

.valorTotal {
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 50%;
}

.valor {
    display: flex;
    align-items: center;
}

.valorProduto {
    margin-right: 10px;
}

.wpp {
    display: flex;
    position: fixed;
    z-index: 9999;
    right: 50px; 
    bottom: 170px;
    border-radius: 50%;
    transition: .3s;
}

.wpp a img{
    height: 80px;
    width: 80px;
    background-color: #2AB318;
    box-shadow: 2px 2px 10px black;
    border-radius: 50%;
}

.wpp:hover {
    box-shadow: 8px 8px 10px black;
    transform: scale(1.05);
}

.oper {
    display: flex;
}

.darkMode {
    position: fixed;
    top: 12.5px;
    right: 200px;
}

#toggle-button {
    position: relative;
    width: 60px;
    height: 34px;
    margin-left: 15px;
    margin-right: 15px;
  }

  #toggle-button input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider1 {
    width: 59px;
    height: 35px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../imagens/pexels-francesco-ungaro-998641.jpg');
    background-position: center center;
    background-size: contain;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider1:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background: url('../imagens/pexels-felixmittermeier-956981.jpg');
    background-position: center center;
    background-size: contain;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider1 {
    background: url('../imagens/pexels-felixmittermeier-956981.jpg');
    background-position: center center;
    background-size: contain;
  }

  input:checked + .slider1:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background: url('../imagens/pexels-francesco-ungaro-998641.jpg');
    background-position: center center;
    background-size: contain;
  }

  /* Estilo adicional para o slider */
  .slider1.round {
    border-radius: 34px;
  }

  .slider1.round:before {
    border-radius: 50%;
  }

  ::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #5A3F2F;
}