@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    padding: 15px 0 100px 0;
    background-color: darkslategray;
    height: 100px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.295);
    font-size: 1.5em;
    box-shadow: 2px 2px 8px black;
}

.titlePedidos {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

table {
    margin: 15px auto;
    border-collapse: collapse;
    max-width: 1000px;
    box-shadow: 2px 2px 8px black;
    font-size: .9em;
}

tr, th, td {
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    padding: 3px;
}

.verde, .motivo button {
    cursor: pointer;
    display: block;
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.534);
    transition: .3s;
    border: none;
}

.vermelho {
    border: none;
    cursor: pointer;
    display: block;
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.534);
    transition: .3s
}

.verde:hover, .vermelho:hover, .motivo button:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.788);
}

.verde:active, .vermelho:active, .motivo button:active {
    transform: scale(.9);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.788);
}

.motivo {
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: lightgrey;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px black;
    display: none;
    z-index: 9998;
}

.motivo h1 {
    margin-bottom: 15px;
}

#motivo {
    margin-bottom: 15px;
    padding: 15px;
    border: none;
    border-bottom: 2px solid lightgrey;
    border-radius: 10px;
    box-shadow: inset 2px 2px 8px rgb(107, 107, 107);
    transition: .3s;
}

#motivo:focus {
    outline: none;
    border-bottom: 2px solid darkslategray;
}

.filter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor preta com opacidade */
    display: none; /* Inicialmente escondido */
    z-index: 9998; /* Deixa atrás da janela de opções */
}

@keyframes windowAppear {
    0% {
        scale: 0;
    }

    100% {
        scale: 1;
    }
  }
  
  .animated {
    animation: windowAppear .2s ease-in-out;
  }