@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url('../imagens/imagens_pincipal/comida-criolla-peru-peruvian-food-260nw-2191344515.webp');
    background-attachment: fixed;
    background-size: cover;
}

.open {
    background-color: rgb(29, 236, 29);
}

.closed {
    background-color: red;
}

.open, .closed {
    color: white;
    padding: 10px 25px;
    font-weight: bold;
    box-shadow: 3px 3px 10px black;
    border-radius: 5px;
}

header {
    position: fixed;
    width: 100%;
    z-index: 9998;
    background-color: rgb(29, 48, 48);
    color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 2px 8px 10px black;
}

header h1 {
    text-shadow: 2px 2px 8px black;
}

main {
    background-color: white;
    margin: auto;
    max-width: 1000px;
    box-shadow: 3px 3px 10px black;
    padding: 15px;
}

.home {
    display: flex;
    position: fixed; 
    z-index: 9999; 
    left: 15px; 
    top: 5px; 
    transition: .3s;
}

.home a {
    background-color: #5A3F2F; 
    box-shadow: 2px 2px 10px black;
    padding: 5px 25px;
    border-radius: 5px;
}

.home:hover {
    box-shadow: 8px 8px 10px black;
    transform: scale(1.05);
}

.shopCart {
    display: flex;
    position: fixed;
    z-index: 9999;
    right: 50px; 
    bottom: 50px;
    border-radius: 50%;
    transition: .3s;
}

.shopCart a {
    background-color: #5A3F;
    box-shadow: 2px 2px 10px black;
    border-radius: 50%;
    padding: 25px;
}

.shopCart:hover {
    box-shadow: 8px 8px 10px black;
    transform: scale(1.05);
}

.openOrClosedDiv {
    position: fixed; 
    right:15px; 
    top:20px; 
    z-index: 9999;
}

.titleSit {
    margin-top: 60px;
    text-align: center;
}

.situProd {
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
}

.wpp {
    display: flex;
    position: fixed;
    z-index: 9999;
    right: 50px; 
    bottom: 170px;
    border-radius: 50%;
    transition: .3s;
}

.wpp a img{
    height: 80px;
    width: 80px;
    background-color: #2AB318;
    box-shadow: 2px 2px 10px black;
    border-radius: 50%;
}

.wpp:hover {
    box-shadow: 8px 8px 10px black;
    transform: scale(1.05);
}

.load {
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 70px;
}

#btn1, #btn2, #btn3 {
    background-color: black;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

#btn1 {
    animation: appear1 3s 1s infinite ease-out;
}

@keyframes appear1 {
    5% {
        transform: translateY(0px);
    }

    10% {
        transform: translateY(-10px);
    }

    15%{
        transform: translateY(2px);
    }

    20% {
        transform: translateY(0px);
    }
}

#btn2 {
    animation: appear2 3s 1s infinite ease-out;
}

@keyframes appear2 {
    10% {
        transform: translateY(0px);
    }

    15% {
        transform: translateY(-10px);
    }

    20%{
        transform: translateY(2px);
    }

    25% {
        transform: translateY(0px);
    }
}

#btn3 {
    animation: appear3 3s 1s infinite ease-out;
}

@keyframes appear3 {
    15% {
        transform: translateY(0px);
    }

    20% {
        transform: translateY(-10px);
    }

    25% {
        transform: translateY(2px);
    }

    30% {
        transform: translateY(0px);
    }
}