@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url('../imagens/imagens_pincipal/comida-criolla-peru-peruvian-food-260nw-2191344515.webp');
    background-attachment: fixed;
    background-size: cover;
}

.open {
    background-color: #55AA33;
}

.closed {
    background-color: red;
}

.open, .closed {
    color: white;
    padding: 10px 25px;
    font-weight: bold;
    box-shadow: 3px 3px 10px black;
    border-radius: 5px;
}

header {
    position: fixed;
    width: 100%;
    z-index: 9998;
    background-color: rgb(29, 48, 48);
    color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 2px 8px 10px black;
}

header h1 {
    text-shadow: 2px 2px 8px black;
}

main {
    background-color: white;
    margin: auto;
    max-width: 1000px;
    box-shadow: 3px 3px 10px black;
    padding: 15px;
}

.home {
    display: flex;
    position: fixed;
    z-index: 9999;
    left: 15px;
    top: 5px;
    transition: .3s;
}

.home a {
    background-color: #5A3F2F;
    box-shadow: 2px 2px 10px black;
    padding: 5px 25px;
    border-radius: 5px;
}

.home:hover {
    box-shadow: 8px 8px 10px black;
    transform: scale(1.05);
}

.shopCart {
    display: flex;
    position: fixed;
    z-index: 9999;
    right: 50px;
    bottom: 50px;
    border-radius: 50%;
    transition: .3s;
}

.openOrClosedDiv {
    position: fixed;
    right:15px;
    top:20px;
    z-index: 9999;
}

.titleSit {
    margin-top: 60px;
    text-align: center;
}

.situProd {
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
}

.wpp {
    display: flex;
    position: fixed;
    z-index: 9999;
    right: 50px;
    bottom: 80px;
    border-radius: 50%;
    transition: .3s;

    background-color: #2AB318;
    box-shadow: 2px 2px 10px black;
}

.wpp a img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.wpp:hover {
    box-shadow: 8px 8px 10px black;
    transform: scale(1.05);
}

.load {
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 70px;
}

#btn1, #btn2, #btn3 {
    background-color: black;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

#btn1 {
    animation: appear1 2.5s 1s infinite linear;
}

@keyframes appear1 {
    5% {
        transform: translateY(0px);
    }

    10% {
        transform: translateY(-15px);
    }

    15%{
        transform: translateY(2px);
    }

    20% {
        transform: translateY(0px);
    }
}

#btn2 {
    animation: appear2 2.5s 1s infinite linear;
}

@keyframes appear2 {
    10% {
        transform: translateY(0px);
    }

    15% {
        transform: translateY(-15px);
    }

    20%{
        transform: translateY(2px);
    }

    25% {
        transform: translateY(0px);
    }
}

#btn3 {
    animation: appear3 2.5s 1s infinite linear;
}

@keyframes appear3 {
    15% {
        transform: translateY(0px);
    }

    20% {
        transform: translateY(-15px);
    }

    25% {
        transform: translateY(2px);
    }

    30% {
        transform: translateY(0px);
    }
}

.darkMode {
    position: fixed;
    z-index: 9999;
    top: 12.5px;
    right: 200px;
}

#toggle-button {
    position: relative;
    width: 60px;
    height: 34px;
    margin-left: 15px;
    margin-right: 15px;
  }

  #toggle-button input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider1 {
    width: 59px;
    height: 35px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../imagens/pexels-francesco-ungaro-998641.jpg');
    background-position: center center;
    background-size: contain;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider1:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background: url('../imagens/pexels-felixmittermeier-956981.jpg');
    background-position: center center;
    background-size: contain;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider1 {
    background: url('../imagens/pexels-felixmittermeier-956981.jpg');
    background-position: center center;
    background-size: contain;
  }

  input:checked + .slider1:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background: url('../imagens/pexels-francesco-ungaro-998641.jpg');
    background-position: center center;
    background-size: contain;
  }

  /* Estilo adicional para o slider */
  .slider1.round {
    border-radius: 34px;
  }

  .slider1.round:before {
    border-radius: 50%;
  }

  ::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #5A3F2F;
}

.borda1, .borda2, .borda3 {
    display: flex;
    position: fixed;
    z-index: 9998;
    right: 50px;
    bottom: 80px;
    border-radius: 50%;
    transition: .3s;
    height: 80px;
    width: 80px;
    border: 2px solid #2AB318;
}

.borda1 {
    animation: borda1 1s infinite linear;
}

.borda2 {
    animation: borda2 2s infinite linear;
}

.borda3 {
    animation: borda3 3s infinite linear;
}

@keyframes borda1 {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes borda2 {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes borda3 {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}
