@charset "UTF-8";

@media screen and (max-width: 600px) {

    main {
        height: 50%;
        width: 100%;
        flex-direction: column;
    }

    main .img {
        display: none;
    }

    form {
        width: 95%;
        height: 100%;
    }

}
