@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    padding: 40px 0 150px 0;
    background-color: darkslategray;
    height: 100px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.295);
    font-size: 1.5em;
    box-shadow: 2px 2px 8px black;
}

.openClose {
    position: absolute;
    right: 15px;
    width: 170px;
    top: 140px;
    display: flex;
    justify-content: space-between;
}

.abrir {
    background-color: #55AA33;
}

.fechar {
    background-color: red;
}

.abrir, .fechar {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    box-shadow: 2px 2px 8px black;
    border-radius: 5px;
    transition: .3s;
}

.abrir:hover, .fechar:hover {
    display: block;
    transform: scale(1.05);
    box-shadow: 10px 10px 10px black;
}

.situacao {
    position: absolute;
    top: 150px;
    right: 210px;
}

.abertoFechado {
    color: white;
}

.aberto {
    background-color: #55AA33;
}

.fechado {
    background-color: red;
}

.aberto, .fechado {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    box-shadow: 2px 2px 8px black;
    border-radius: 5px;
    transition: .3s;
}

form {
    max-width: 800px;
    background-color: lightgray;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-top: 15px;
    box-shadow: 2px 2px 8px black;
    border-radius: 35px;
    transition: .2s;
}

form:hover {
    border-radius: 5px;
}

form h1 {
    text-align: center;
    margin-bottom: 15px;
}

#id {
    pointer-events: none;
}

input {
    border: none;
    padding: 15px;
    border-radius: 25px;
    box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.295);
    border-bottom: 2px solid lightgray;
    outline: none;
    transition: .3s;
    margin-bottom: 15px;
}

input:focus {
    border-bottom: 2px solid darkslategray;
    transition: .3s;
}

input[type="file"] {
    display: none;
}

.file {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 25px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.425);
    outline: none;
    transition: .5s;
    background: white;
    color: rgb(100, 100, 100);
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
}

.span {
    color: white;
    background-color: darkslategray;
    float: right;
    padding: 5px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: .3s;
}

.span:hover {
    transform: scale(1.05);
    transition: .3s;
}

.span:active {
    transform: scale(0.8);
}

.botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    transition: .3s;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.336);
}

button:hover {
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.336);
    transform: scale(1.05);
    transition: .3s;
}

button[type="submit"] {
    background-color: darkslategray;
    color: white;
    font-weight: bold;
}

table {
    margin: 15px auto;
    border-collapse: collapse;
    width: 80%;
    box-shadow: 2px 2px 8px black;
    overflow-x: auto;
    display: block;
    }

tr, th, td {
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    }

.deletar {
    background-color: darkred;
}

.editar {
    background-color: darkslategray;
}

.editar, .deletar {
    display: block;
    margin: auto;
    width: 100%;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.336);
    transition: .3s;
}

.editar:hover, .deletar:hover {
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.336);
    transform: scale(1.05);
    transition: .3s;
}